:root{
    --yellow : rgb(244, 208, 78);
    --Grey-950 : rgb(17, 17, 17);
    --Grey-500 : rgb(107, 107, 107);
    --white : rgb(255, 255, 255);
}

@font-face {
    font-family: "Figtree";
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

body{
    background-color: var(--yellow);
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;
    width: min-content;
    border: 1px solid black;
    box-shadow: 8px 8px black;
}

.card-btn{
    background-color: var(--yellow);
    font-family: "Figtree";
    font-weight: bolder;
    font-size: 14px;
    line-height: 150%;
    width: min-content;
    padding: 8px 12px;
    border-radius: 4px;
    letter-spacing: 0px;
    color: var(--Grey-950);
}

.card-subheader{
    font-family: "Figtree";
    color: var(--Grey-950);
}

.card-mainheading{
    font-family: "Figtree";
    font-size: 24px;
    font-weight: bold;
}

.card-mainheading:hover,.card-mainheading:focus{
    color: var(--yellow);
}

.card-content{
    font-family: "Figtree";
    font-size: 16px;
    color: var(--Grey-500);
}

img{
    border-radius: 10px;
}

.signature{
    display: flex;
    align-items: center;
}

.sig-text{
    font-family: "Figtree";
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
}

@media only screen and (max-width : 440px){
    .card{
        width: 90%;
    }
}